<!DOCTYPE html>
<!-- SPDX-License-Identifier: LicenseRef-CityLegends-Proprietary-Software -->
<html lang="ua">
    <head>
        <title>ГРАЙ!!!</title>
        <meta http-equiv="Content-type" content = "text/html;charset=UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/playable-window.css') }}">
    </head>
    <body class="body">
        <p>МакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакакаМакака</p>
    </body>
</html>
